body{
    background-image: linear-gradient(to right,rgb(195, 235, 248), white, rgb(195, 235, 248));
}
h1{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
}
#header{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    display: flex;
    flex-direction:column;
    border: groove 50px;
    margin: 30px;
    border-color: grey #333;
}
#description{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding-left: 30;
}
.projects{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-radius: 50%;
}
.icon{
    border-radius: 50%;
}
.game{
    border:5px;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
    position: relative;
    box-shadow: 20px 20px #444;
}
.game h3{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.game:hover h3{
    opacity: 1;
    color:black;
    text-decoration: underline;
    font-style:italic;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 5px #888;
}
.game:hover img{
    opacity: 0.333333333;
}
.game img{
    border-radius: 7%;
}
a:link{
    color: blue;
}
a:visited{
    color: rgb(5, 0, 48);
}